@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewBag.Title = "Home Page"; 

}
    <head>

        
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
              rel="stylesheet" />
    </head>

<body>
  <main>
    <section class="intro-section">
        <div class="intro">
            
            <div>
                <h1 class="intro-text">
                    Hello There! <span class="name"> I am Joshua Rimmer</span>
                </h1>
                
                <img width="400" class="prof" src="~/img/profpic.jpg" />
            </div>
        </div>
        
    </section>
  </main>
</body>