@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewBag.Title = "Home Page"; 

}
    <head>

        
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
              rel="stylesheet" />
    </head>

<body>
  <main>
    <section>
        <div class="jumbotron">
            <h1>
                Hello There!
            </h1>
        </div>
        
    </section>
  </main>
</body>